AUTH_SECRET="<openssl rand -hex 32>"
AUTH_KEYCLOAK_ID="<KeycloakClientID>"
AUTH_KEYCLOAK_SECRET="<KeycloakClientSecret>"
AUTH_KEYCLOAK_ISSUER="http://<KeycloakURL>/realms/<realm name>"
PUBLIC_ROOT_FOLDER_LOCATION="<Full path to the root folder (no slash at end)>"
PUBLIC_METACAT_URL="<Full URL to Metacat>"
AIRFLOW_URL="<AirflowURL>"
AIRFLOW_DAG_ID="<DAGID>"
AIRFLOW_USERNAME="<AirflowUsername>"
AIRFLOW_PASSWORD="<AirflowPassword>"
PUBLIC_AIRFLOW_DIRECTORY="<AirflowDirectory>"
PUBLIC_AIRFLOW_INPUT_FILE="<AirflowInputFile>"
FORWARD_JQ_DIR="https://raw.githubusercontent.com/ukaea/ukaea-metadata/develop/metacat-mapping/hive"
BACKWARD_JQ_DIR="https://raw.githubusercontent.com/ukaea/ukaea-metadata/develop/reverse-metacat-mapping/hive"
DB_URL=./data/local.db