# Random string for Better Auth encryption. Generated with openssl rand -hex 16 
BETTER_AUTH_SECRET=<YourRandomStringHere>

# Deployed URL of the HIVE UI
BETTER_AUTH_URL=http://localhost:5173
ORIGIN=http://localhost:5173
PORT=5173

# Authentication and Authorization toggle
AUTHN_ENABLE=true
AUTHZ_ENABLE=true
AUTHZ_REQUIRED_GROUP=HIVE

# Keycloak configuration
AUTH_KEYCLOAK_ID=<YourKeycloakClientID>
AUTH_KEYCLOAK_SECRET=<YourKeycloakClientSecret>
AUTH_KEYCLOAK_ISSUER=http://localhost:8080/realms/<YourRealmName>
AUTH_KEYCLOAK_SERVICE_USERNAME=<YourServiceUsername>
AUTH_KEYCLOAK_SERVICE_PASSWORD=<YourServicePassword>

# Service URLs
ROOT_FOLDER_LOCATION=/path/to/your/local/data/folder
USE_FILE_API=true
FILE_API_URL=http://localhost:8003
METACAT_URL=http://localhost:5000
AIRFLOW_URL=<AirflowURL>
AIRFLOW_DAG_ID=<DAGID>
AIRFLOW_USERNAME=<AirflowUsername>
AIRFLOW_PASSWORD=<AirflowPassword>
AIRFLOW_DIRECTORY=<AirflowDirectory>
AIRFLOW_INPUT_FILE=<AirflowInputFile>
FORWARD_JQ_DIR=https://raw.githubusercontent.com/ukaea/ukaea-metadata/develop/metacat-mapping/hive
BACKWARD_JQ_DIR=https://raw.githubusercontent.com/ukaea/ukaea-metadata/develop/reverse-metacat-mapping/hive
DB_URL=sqlite:./exampleData/db/local.db