.DS_Store
notes.md
node_modules
realm-data
/build
/.svelte-kit
/package
.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/exampleData
/sampleData
KeyChallenge4
/diagnostics
/experiments